* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}


/* NAVBAR SECTION*/

.about .navbar {
    background-color: #ebf1fa;
    height: 60px;
    padding: 18px 0;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

.about .navbar .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 15px;
    text-transform: uppercase;
}

.about .navbar .navbar-brand:hover {
    color: #16a596;
}

.about .navbar li {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #3c4948;
    line-height: 20px;
    font-weight: 400;
    padding: 10px;
}

.about .dropdown-menu a {
    color: #000;
}

.about .dropdown-menu a:hover {
    color: #000;
}

.about .dropdown-menu {
    color: #16a596;
}

.navbar ul {
    margin-right: 70px;
    margin-top: 10px;
}

.logo-nav {
    background-size: cover;
    width: 5%;
    height: 5%;
}

.navbar__bgColor.scrolled {
    background-color: #3D7488;
    height: 60px;
    padding: 18px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.navbar__bgColor.scrolled .navbar__List li a {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__bgColor.scrolled .navbar-brand {
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__List li a {
    color: #000;
}

.navbar__List li a:hover {
    color: #16a596;
}


/* ABOUT SECTION */

.about {
    padding: 90px 0;
    margin-top: 60px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: color: #000;
}


/* .about:before { */


/* content: ""; */


/* position: absolute; */


/* height: 2000px; */


/* width: 2000px; */


/* top: -10%; */


/* right: 48%; */


/* transform: translateY(-50%); */


/* background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%); */


/* transition: 1.8s ease-in-out; */


/* border-radius: 50%; */


/* z-index: 0; */


/* } */

.about .about-container .about-content {
    padding-right: 40px;
}

.about .about-container .about-content h2 {
    color: #3D7488;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about .about-container .about-content h2 strong {
    text-transform: uppercase;
    font-weight: bold;
}

.about .about-container .about-content h6 {
    color: #97BAC3;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about .about-container .about-content p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 25px;
}

.about .about-container .about-img {
    width: 350px;
    height: 480px;
    overflow: hidden;
    margin: 0 auto;
}

.about .about-container .about-img img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    border: 6px solid rgba(0, 0, 0, 0.8);
    border-bottom: 8px;
}

.about .about-container .about-img img:hover {
    width: 100%;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.about .about-container .about-img::before {
    position: absolute;
    left: 74px;
    top: -30px;
    width: 60%;
    height: 95%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}

.about .about-container .about-img::after {
    position: absolute;
    right: 78px;
    bottom: -30px;
    width: 58%;
    height: 95%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}


/* FOOTER SECTION */

.footer-bottom {
    padding: 18px 0;
    text-align: center;
}

.footer-bottom .madeBy-content p {
    color: #3D7488;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.footer-bottom .madeBy-content span {
    color: #97BAC3;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.footer-bottom .madeBy-content span a:hover {
    color: #3D7488;
    text-decoration: none;
}


/*END  FOOTER SECTION */